# Archivos de compilación
build/
build-*/
*.exe
*.out
*.dll
*.so
*.a
*.lib
*.o
*.obj
*.ilk
*.pdb
*.exp
*.manifest
*.bin

# Directorios de CMake
CMake/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Tools (variados)
tools
tools*/
tools*/*
tools*/*/*
tools*/*/*/*

# Archivos específicos del IDE
.vscode/*
!.vscode/launch.json
.idea/
*.suo
*.user
*.sln
*.sln.docstates

# Cache de Python
__pycache__/
*.pyc

# Otros
CRASH/
*.log
.env
.aider*
.aider.conf.yml
Testing/Temporary/CTestCostData.txt
