# Archivos de compilación
build/
*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.out

# Archivos de CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Archivos del IDE
.vscode/
*.suo
*.user

# Cache de Python
__pycache__/
*.pyc

# Otros
CRASH/
*.log
env_dump.bat